/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Modular Scale: https://www.modularscale.com/?18&px&1.25 */
/* Font Family: https://www.cssfontstack.com/Palatino */


/* Base Styles */

html {
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  color: #111;
  background-color: #ECD9BA;
  font-size: 1.125em; /* 18/16 = 1.125 */
  line-height: 1.333333333333333em; /* 24/18 = 1.333333333333333 */
}

h1, h2, h3 {
  padding-top: 0.6666666666666667em; /* 12/18 = 0.6666666666666667 */
  padding-bottom: 0.6666666666666667em; /* 12/18 = 0.6666666666666667 */
}

h1 {
  font-size: 1.953111111111111em; /* 35.156/18 = 1.953111111111111 */
  line-height: 1.137785868699511em; /* 40/35.156 = 1.137785868699511 */
}

h2 {
  font-size: 1.5625em; /* 28.125/18 = 1.5625 */
  line-height: 1.066666666666667em; /* 30/28.125 = 1.066666666666667 */
}

h3 {
  font-size: 1.25em; /* 22.5/18 = 1.25 */
  line-height: 1.066666666666667em; /* 24/22.5 = 1.066666666666667 */
}

.schools ul {
  font-size: 0.8em; /* 14.4/18 = 0.8 */
  padding-left: 1em;
  list-style-type: square;
}

.jobs ul {
  font-size: 0.8em; /* 14.4/18 = 0.8 */
  padding-left: 1em;
  list-style-type: square;
}

.activities ul {
  font-size: 0.8em; /* 14.4/18 = 0.8 */
  margin-left: 1em;
  list-style-type: square;
}

.achievements ul {
  font-size: 0.8em; /* 14.4/18 = 0.8 */
  margin-left: 1em;
  list-style-type: square;
}

#education  {
  list-style-type: square;
  list-style-position: inside;
  padding-bottom: 0.5em; /* 9/18 = 0.5 */
}

.directions {
  list-style-type: decimal;
  list-style-position: inside;
  padding-bottom: 0.5em; /* 9/18 = 0.5 */
}

.ingredients {
  list-style-type: square;
  list-style-position: inside;
  padding-bottom: 0.5em; /* 9/18 = 0.5 */
}




/* Layout Styles */

/* Modular Styles */

#navigation a {
  background-color: #333;
  color: #D3C4BE;
  display: block;
  line-height: 0;
  padding: 1em;
  text-decoration: none;

}

#navigation a:hover,
#navigation a:active,
#navigation a:focus,
#about #nav-about {
  background-color: #777;

}

img {
  display: block;
  max-width: 100%;
}

figure {
  position: relative;
}

/* State Styles */
@media screen and (min-width: 420px){
  #navigation ul {
  display: flex;
  }
  #navigation ul > li {
    flex: 1 0 auto;
  }

  figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.3333333333333333; /* 6/18 = 0.3333333333333333 */
  }

}

@media screen and (min-width: 1200px) {
  figure {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto;
    grid-gap: 12px;
    gap: 12px;
  }
  figcaption {
    position: static;
    grid-column: 2;
    grid-row: 1;
  }
}
